@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  */
button {
  background-color: #0d6efd;
  padding: 10px 35px;
  color: white;
  border-radius: 20px;
}
/* Styles for the container and columns */
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.flexMain {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.flexMain > div {
  width: 48%;
}
h3 {
  font-size: 25px;
  font-weight: 700;
}
.error {
  color: red;
}
.sizeSet {
  /* width: 211px;
  height: 211px; */
  object-fit: cover;
}
/* Styles for the profile section */
.profile_col {
  text-align: center;
}

.custom_heading {
  color: #333;
}

.avaterimg {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 15px 0;
}

.custom_upload_btn {
  margin-top: 15px;
}

/* Styles for the CNIC section */
.cnic_col {
  text-align: center;
}

.cusstom_upload_btn {
  margin-top: 15px;
}

/* Styles for the user account_detail_section */
.custom_container {
  margin-top: 40px;
}

h1 {
  color: #333;
}

.col-md-6 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.custom-input-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.custom-button {
  margin-top: 20px;
}

/* maybe reomve */
.leaflet-container {
  height: 90vh;
  /* width: 90%; */
  border-radius: 2rem;
}

.menu {
  background-color: white;
  justify-content: unset;
  border: 1px solid;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  flex-wrap: unset;
  gap: unset;
}
.menu a {
  padding: 10px;
  border-right: 1px solid;
  cursor: pointer;
  width: 20%;
  text-align: center;
  font-size: 13px;
}
.menu a:last-child {
  border: unset;
}

/* loader */
.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #82d051;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px
}
.productImg {
  border-radius: 5px 5px 0 0;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerPic {
  padding: 15px 16px;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Css by Ali Ahmad.  */
/* css for forgetpass page, resendemailverification page and reset page because common 
classes are present in three above pages.  */
.main {
  margin-top: 15%;
}
.heading {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}
.custom_button {
  margin-top: 10px;
}
.custom_fields1 {
  width: 70%;
  margin: auto;
}
.custom_button {
  text-align: center;
}
@media screen and (min-width: 250px) and (max-width: 700px) {
  .resetpass_btn {
    padding: 5px 10px;
    font-size: 10px;
  }
  .heading {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .custom_fields1 label {
    font-size: 10px;
  }
  .form-control1 {
    padding: 0px;
  }
  .custom_fields1 {
    width: 90%;
    margin: auto;
  }
}
/* css for login page  */

.login_heading {
  text-align: center;
  margin: 20px 20px;
}
.container1 {
  margin-top: 15%;
}

/* css for signup page.  */

@media screen and (max-width: 767px) {
  .flexMain > div {
    width: 100%; /* Set full width for smaller screens */
  }
}

@media screen and (max-width: 567px) {
  .custom-input-group1 {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }

  .form-control {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  .createaccount_btn {
    padding: 10px 15px;
    font-size: 10px;
  }
}

.byali {
  margin: 40px 0px;
}
.containerbyali {
  margin: 40px 0px;
}
h4 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
/*  */

@media (max-width: 500px) {
  .flexMain > div {
    width: 100%;
  }
}
