@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  */
button{
  background-color: #0d6efd;
  padding: 10px 35px;
  color: white;
  border-radius: 20px;
}
/* Styles for the container and columns */
.container {
  width:  100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.flexMain {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.flexMain > div {
  width: 48%;
}
h3{
  font-size: 25px;
  font-weight: 700;
}
.error{
  color: red;
}
.sizeSet {
  /* width: 211px;
  height: 211px; */
  object-fit: cover;
}
/* Styles for the profile section */
.profile_col {
  text-align: center;
}

.custom_heading {
  color: #333;
}

.avaterimg {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 15px 0;
}

.custom_upload_btn {
  margin-top: 15px;
}

/* Styles for the CNIC section */
.cnic_col {
  text-align: center;
}

.cusstom_upload_btn {
  margin-top: 15px;
}

/* Styles for the user account_detail_section */
.custom_container {
  margin-top: 40px;
}

h1 {
  color: #333;
}

.col-md-6 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.custom-input-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.custom-button {
  margin-top: 20px;
}

/* maybe reomve */
.menu {
  background-color: white;
  justify-content: unset;
  border: 1px solid;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  flex-wrap: unset;
  gap: unset;
}
.menu a {
  padding: 10px;
  border-right: 1px solid;
  cursor: pointer;
  width: 20%;
  text-align: center;
}
.menu a:last-child {
  border: unset;
}

/*  */


@media(max-width:500px){
  .flexMain > div{
    width: 100%;
  }
}