@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  */
button{
  background-color: #0d6efd;
  padding: 10px 35px;
  color: white;
  border-radius: 20px;
}
/* Styles for the container and columns */
.container {
  width:  100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* Styles for the profile section */
.profile_col {
  text-align: center;
}

.custom_heading {
  color: #333;
}

.avaterimg {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 15px 0;
}

.custom_upload_btn {
  margin-top: 15px;
}

/* Styles for the CNIC section */
.cnic_col {
  text-align: center;
}

.cusstom_upload_btn {
  margin-top: 15px;
}

/* Styles for the user account_detail_section */
.custom_container {
  margin-top: 40px;
}

h1 {
  color: #333;
}

.col-md-6 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.custom-input-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.custom-button {
  margin-top: 20px;
}
